/* Start Projects Page  */
.projects-page {
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
}
@media (max-width:767px) {
    .projects-page {
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10;
    }
}
.projects-page .project .date {
    position: absolute;
    right: 10px;
    top: 10px;
}
.projects-page .project h4 {
    font-weight: normal;
}
.projects-page .project .team {
position: relative;
min-height: 80px;
}
.projects-page .project .team a {
position: absolute;
left: 0;
bottom: 0;
transition: 0.3s;

}
.projects-page .project .team a:nth-child(2) {
left: 25px;
}
.projects-page .project .team a:nth-child(3) {
left: 50px;
}
.projects-page .project .team a:nth-child(4) {
left: 75px;
}
.projects-page .project .team a:nth-child(5) {
left: 100px;
}
.projects-page .project .team a:hover {
    z-index: 100000;
}
.projects-page .project .team a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    background-size: cover;

} 
.projects-page .project .skills-pro {
justify-content: flex-end;
padding-top: 15px;
margin-top: 15px;
border-top: 1px solid #eee;
}
@media (max-width:767px)  {
    .projects-page .project .skills-pro   {
        flex-direction: column;
    }

}
.projects-page .project .skills-pro span {
padding: 3px 8px;
margin-left: 5px;
width: fit-content;
}
@media (max-width:767px)  {
    .projects-page .project .skills-pro span:not(:last-child)  {
        margin-bottom: 15px;
    }

}
.projects-page .project   .info {
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px;
}

.projects-page .project .prog {
    height: 8px;
    width: 260px;
    position: relative;
    border-radius: 6px;
}
@media (max-width:767px)  {
    .projects-page .project   .info   {
        flex-direction: column;
    }
    .projects-page .project .prog {
        margin-bottom: 15px;
    }

}
.projects-page .project .prog span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;
}
/* End Projects Page  */